<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.udacity.xyzreader"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="edu.udacity.xyzreader.ui.ArticleListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="edu.udacity.xyzreader.ui.ArticleDetailActivity"
            android:parentActivityName="edu.udacity.xyzreader.ui.ArticleListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.edu.udacity.xyzreader.items" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.udacity.xyzreader.ui.ArticleListActivity" />
        </activity>

        <service android:name="edu.udacity.xyzreader.data.UpdaterService"
            android:exported="false" />

        <provider android:name="edu.udacity.xyzreader.data.ItemsProvider"
            android:authorities="edu.udacity.xyzreader"
            android:exported="false" />

    </application>

</manifest>
